varlet
setuptools
psycopg2
django-cloak
pytz
git+https://github.com/PSU-OIT-ARC/django-arcutils.git#egg=django-arcutils
#elasticsearch
#python3-ldap
#celery
#django-cas
django-perms
mock
model-mommy
coverage
flake8
